/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS RESET */


/* CUSTOM PROPERTIES */

:root {
    /* colors */
    --background-clr-primary: #2a2a2a;
    --background-clr-secondary: #e8e8e8;
    --border-clr: 2px solid rgb(234, 234, 84);
    --text-clr: #FFFFFF;

    /* fonts */
    --font-main: 'roboto', sans-serif;
    --font-size-large: 2.5rem;   
    --font-size-base: 1rem;  
}



.container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    text-align: center;
}

.container div {
    background: var(--background-clr-primary);
    border: var(--border-clr);
    color: var(--text-clr);

    font: var(--font-main);
    font-weight: bold;
}

/* SIDEBAR */

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
}

.sidebar .sidebar-logo {
    font-size: var(--font-size-large);
    font-weight: bolder;
}

.sidebar-menu {
    padding-top: 2em;
}

.sidebar-menu ul {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    font-size: var(--font-size-base);
    font-weight: bolder;
    gap: 15px;
}

/* HEADER */

.header {
  grid-column: 2;
}

.header ul {
  list-style-type: none;
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1em;
}

.header-top input {
  padding: 5px;
  border-radius: 15px;
  border: none;
  background-color: var(--background-clr-secondary);
}

.header-top ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #FFFFFF;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-bottom .greeting-name {
  font-size: 1.5em;

}

.header-bottom ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-bottom button {
  padding: 15px;
  border-radius: 1em;
  cursor: pointer;
}

.header-bottom button:hover {
  box-shadow: 2px 2px 5px lightgray;
}

/*  */

.main-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project-container {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.project-container .cards {
    height: 200px;
}

.misc-container {
    display: grid;
}