/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.2;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS RESET */


/* CUSTOM PROPERTIES */

:root {
    /* colors */
    --background-clr-primary: #6a4c93;
    --background-clr-secondary: #1e1633;
    --background-clr-accent: #a78bfa;
    --background-clr-accent-secondary: #fbbf24;
    --border-clr: 2px solid rgb(234, 234, 84);
    --text-clr: #FFFFFF;

    /* fonts */
    --font-main: 'roboto', sans-serif;
    --font-size-large: 2.5rem;   
    --font-size-base: 1rem;
    --font-size-small: 15px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container div {
    /* border: var(--border-clr); */
    color: var(--text-clr);
    font: var(--font-main);
}

/* SIDEBAR */

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--background-clr-secondary);
}

.sidebar .sidebar-logo {
    font-size: var(--font-size-large);
    font-weight: bolder;
    justify-self: start;
    padding: 20px;
}

.sidebar-menu {
    padding-top: 2em;
}

.sidebar-menu ul {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    justify-content: start;
    font-size: var(--font-size-base);
    font-weight: bolder;
    font-size: 1.2em;
    gap: 15px;
    list-style-type: none;
}

.sidebar-menu li {
  display: flex;
  flex: 1;
  align-items: flex-start;
  cursor: pointer;
}

.sidebar-menu span {
  padding: 1px;
}

.sidebar-menu span:hover {
  border-radius: 10px;
  color: var(--background-clr-accent);
}

.sidebar-menu i {
  margin-right: 20px;
  margin-top: 5px;
}


/* HEADER */

.header {
  grid-column: 2;
  background-color: var(--background-clr-primary);
}

.header ul {
  list-style-type: none;
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1em;
}

.header-top .search-container {
  display: flex;
}

.header-top input {
  padding: 5px;
  border-radius: 15px;
  flex: 1;
  border: none;
}

.search-container i {
  margin-top: 10px;
  margin-right: 5px;
}

.header-top ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: bolder;
  font-size: 1.2em;
  color: #FFFFFF;
}

.header-top li {
  cursor: pointer;
}

.header-top i {
  font-size: 1em;
  cursor: pointer;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1.5em;
}

.header-bottom .greeting-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  gap: 15px;
  font-size: 1.5em;
}

.greeting-container i {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 3em;
}

.greeting-statement {
  display: flex;
  flex-direction: column;
}

.header-bottom .button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: var(--font-size-small);
  gap: 15px;
}

.button-container button {
  width: 120px;
  padding: 10px;
  border-radius: 2em;
  border: none;
  cursor: pointer;

  background-color: var(--background-clr-secondary);
  font-size: 1.2em;
  font-weight: bolder;
  color: #FFFFFF;
}

.header-bottom button:hover {
  background-color: var(--background-clr-accent);
  box-shadow: 2px 2px 5px var(--background-clr-primary);
}

/*  */

/* CONTENT CONTAINER */
.main-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--background-clr-primary);
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 15px;
}

.card-container .card {
    height: 200px;
    padding: 10px;
    border-radius: 1em;
    background-color: var(--background-clr-secondary);
    box-shadow: 2.3px 4.6px 4.6px hsl(0deg 0% 0% / 0.43);
}

.card .card-title {
  font-size: 1.2em;
  font-weight: bolder;
}

.card p {
  text-align: left;
}

.misc-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-right: 20px;
    gap: 2em;
}



.announcements .misc-title,
.trending .misc-title {
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0.5em;
  gap: 10px;
}

.announcements .sub-titles,
.trending .sub-titles {
  font-size: 1.2em;
  font-weight: bolder;
}

.announcements .misc-card,
.trending .misc-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--background-clr-secondary);
  box-shadow: 2.3px 4.6px 4.6px hsl(0deg 0% 0% / 0.43);
}



